body {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.c-loader {
  animation: rotacao 1s infinite;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 6px solid #e5e5e5;
  border-top-color: #515fdb
}

@keyframes rotacao {
  to {
    transform: rotate(1turn);
  }
}